<div>
    <h2 class="ms-5 me-5">Portfolio</h2>
    <p class="ms-5 me-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nihil voluptatem, odit doloremque excepturi neque architecto iure, dolor reprehenderit, eveniet aliquid voluptate laboriosam voluptatibus expedita alias obcaecati incidunt placeat. Aut.</p>
    <div class="container text-center">
        <div class="row">
          <div class="col col-ms-5 col-me-5">
            <div class="card border border-0" style="width: 100;">
                <img src="http://placehold.it/700x400" class="rounded-0 img-fluid object-fit-cover w-100" alt="...">
                <div class="card-body px-0">
                  <h5 class="card-title text-start text-primary">Project Name</h5>
                  <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, eaque!</p>
                </div>
              </div>
          </div>
          <div class="col col-ms-5 col-me-5">
            <div class="card border border-0" style="width: 100;">
                <img src="http://placehold.it/700x400" class="rounded-0 img-fluid object-fit-cover w-100" alt="...">
                <div class="card-body px-0">
                  <h5 class="card-title text-start text-primary">Project Name</h5>
                  <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, vel!</p>
                </div>
              </div>
          </div>
          <div class="col col-ms-5 col-me-5">
            <div class="card border border-0" style="width: 100;">
                <img src="http://placehold.it/700x400" class="rounded-0 img-fluid object-fit-cover w-100" alt="...">
                <div class="card-body px-0">
                  <h5 class="card-title text-start text-primary">Project Name</h5>
                  <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, laborum!</p>
                </div>
              </div>
          </div>
        </div>
      </div>    
</div>